/* ------------- GERAL ---------------- */
:root{
    font-size: 62.5%;
    font-family: Roboto;
    --primary-black: #333;
    --primary-white: #fafafa;
    background: var(--primary-white);
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

img{
    max-width: 100%;
}

/* ------------- HEADER ---------------- */

header{
    height: 70px;
    padding: 10px;
    background: var(--primary-black);
    box-sizing: border-box;
    font-size: 1.6rem;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header nav img, header ul{
    height: inherit;
}

header ul{
    display: flex;
    align-items: center;
}

header li a{
    padding: 20px 10px;
    font-family: Roboto;
    text-decoration: none;
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
}

header li a::after{
    content: "";
    background-color: var(--primary-white);
    height: 2px;
    width: 0%;
}

header li a:hover::after{
    width: 100%;
}

/* ----------- Primeira Section ---------------*/

#sct1-hmpg{
    height: calc(100vh - 70px);
    background: #16646e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: var(--primary-white);
}

#sct1-hmpg h1{
    font-size: 7.8rem;
    font-family: Roboto;
    margin-bottom: 20px;
}

#sct1-hmpg p{
    font-size: 1.8rem;
}

/* ----------- Segunda Section ---------------*/

.card{
    border-radius: 20px;
    border: 1px solid;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    width: 300px;
    font-size: 1.6rem;
}

#sct2-hmpg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sct2-hmpg figcaption{
    font-size: 1.8rem;
    font-weight: 600;
}

figure{
    text-align: center;
}


/* ----------- Terceira Section ---------------*/

#sct3-hmpg .card{
    display: flex;
    width: 100%;
    margin: 20px 0;
    line-height: 1.5;
}

#sct3-hmpg .card{
    text-align: right;
}

#sct3-hmpg .card:nth-child(2n){
    flex-direction: row-reverse;
    text-align: left;
}

#sct3-hmpg h3{
    font-size: 2.4rem;
}

/* ----------- Footer ---------------*/

footer{
    width: 100%;
    background: var(--primary-black);
    color: var(--primary-white);
    font-size: 1.6rem;
}

#ft-contact{
    padding: 20px;
    box-sizing: border-box;
}

#ft-contact, #ft-contact div, #ft-contact div ul{
    display: flex;
}

#ft-contact div{
    align-items: center;
}

#ft-contact div ul{
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

footer iframe{
    width: 200px;
    border-radius: 10px;
    margin-right: 10px;
}

footer > div:last-child{
    width: 100%;
    background: #222;
    text-align: center;
    padding: 5px 0;
}